<html>
  <head>
    <meta charset="UTF-8" />
    <title>Redefinição de senha - Minha API</title>
    <link rel="stylesheet" href="../css/email.css" />
  </head>
  <body>
    <div class="container">
      <form>
        <fieldset>
          <img src="cid:logo" /> 
          <hr/>     
          <div>            
            <h2>Redefinição de senha.</h2> 
            <p>Olá, <b>{{user}}</b>!</p> 
            <p>Use este código para redefinir sua senha:</p>
            <h3>{{token}}</h3>     
            <p> 
              <br />
              <b>Equipe "Minha API"</b>
            </p>        
          </div>          
        </fieldset>          
      </form>         
    </div>
  </body>
</html>
