<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bem vindo(a) à "Minha API"!</title>
    <link rel="stylesheet" href="../css/email.css" />
  </head>
  <body>
    <div class="container">
      <form>
        <fieldset>
          
          <img src="cid:logo" /> 
          <hr/>     
          <div class="email-container">                 
            <h2>Olá, {{user}}!</h2> 
            <p>Seja bem vindo(a)!<p>
            <p>Clique <a href="{{link}}">aqui</a> para confirmar seu cadastro.</p>
            <p> 
              <br />
              <b>Equipe "Minha API"!</b>
            </p>       
          </div>          
        </fieldset>          
      </form>         
    </div>
  </body>
</html>
